{% extends 'base.html' %}

{% block title%} Edit Post{% endblock %}

{% block content %} 
<h2>Edit Post </h2>
<form action="/posts/{{post.id}}/edit" method="POST">
    <label for="title">Title:</label>
    <br>
    <input id="title" type="text" name="title" value="{{post.title}}">
    <br>
    <label for="content">Post Content:</label>
    <br>
    <textarea id="content" name="content" rows="4" cols="50" >{{post.content}} </textarea>
    <br>
    {% for tag in tags %}
    <input type="checkbox" id="{{tag.name}}" name="tags" value="{{tag.id}}">
    <label for="{{tag.name}}"> {{tag.name}}</label><br>
     {% endfor %}
    <input type="submit" value="Add">
</form>
    
    <input type="submit" value="Edit">
</form>
<a href="/posts/{{post.id}}"><button>Cancel</button></a> 
{% endblock%}
